@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-cursive: 'Caveat', cursive;

    --color-primary: #AB1615;
    --color-White: #FFFAFA;
    --color-Black: #141414;
}